{% extends 'base.html' %}

{% block content %}
    <h1>Landing Page</h1>

    <p>
    You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past,   and we’ll give you surprisingly insightful recommendations
    You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations
    You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations
    </p>

{% endblock %}


